@using WebSiteOrgStructure.Dtos;
@model List<DepartmentStructDto>
@{
    ViewData["Title"] = "Koличество сотрудников и позиций по отделам";
}
@if (Model != null)
{
    <table border="1" cellspacing="1" cellpadding="1">
        <tr>
         <th>Департамент</th>
            <th>Количество сотрудников</th>
            <th>Количество должностей</th>
        </tr>
        @foreach (var l in Model)
        {

            <tr>
                <td>
                    @l.DepartmentName
                </td>
                <td>
                    @l.Users
                </td>
                <td>
                    @l.Roles
                </td>
            </tr>
        }
    </table>
}
