@using WebSiteOrgStructure.Dtos;
@model List<UserReadDto>
@{
    ViewData["Title"] = "Список сотрудников по отделам";
}

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

<script type="text/javascript">
    $(function () {
        $.contextMenu({
            selector: '.context-menu-one',
            trigger: 'right',
            callback: function (key, options) {
                if (key == 'delete') {
                    $.ajax({
                        url: '/User/Delete',
                        method: 'delete',
                        data: { id: this[0].id },
                        success: function (data) {
                            location.reload();
                        }
                    })
                }
                else if (key == 'edit') {
                    $.ajax({
                        url: '/User/Get',
                        method: 'get',
                        data: { id: this[0].id },
                        success: function (data) {
                            location.replace('IndexUpdateUser?json=' + JSON.stringify(data));
                        }
                    })
                }
            },
            items: {
                "edit": { name: "Edit", icon: "edit" },
                "delete": { name: "Delete", icon: "delete" }
            }
        });
    });
</script>
@if (Model != null)
{
    <table border="1" cellspacing="1" cellpadding="1">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Должность</th>
            <th>Департамент</th>
        </tr>
        @foreach (var l in Model)
        {

            <tr>
                <td class="context-menu-one btn btn-neutral" id=@l.Id>
                    @l.Name
                </td>
                <td>
                    @l.Surname
                </td>
                <td>
                    @l.Role
                </td>
                <td>
                    @l.DepartmentName
                </td>
            </tr>
        }
    </table>
}

