@model User

@{
    ViewData["Title"] = "Сотрудники";
}
<form method="post" asp-controller="User" asp-action="Create">
    <label asp-for="Name"></label>
    <input asp-for="Name" required />
    <span asp-validation-for="Name"></span>

    <label asp-for="Surname"></label>
    <input asp-for="Surname" />

    <label asp-for="Mail"></label>
    <input asp-for="Mail" />

    <label asp-for="DepartmentName"></label>
    <div class="dropDown">
        @Html.DropDownList("DepartmentName", ViewBag.Departments as SelectList)
    </div>
    <label asp-for="Role"></label>
    <div class="dropDown">
        @Html.DropDownList("Role", ViewBag.Roles as SelectList)
    </div>
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>
<form method="get" asp-controller="User" asp-action="IndexUsersList">
    <input type="submit" id="hider" value="Получить список сотрудников" />
</form>
<form method="get" asp-controller="User" asp-action="IndexCountUserAndRole">
    <input type="submit" value="Вывести количество сотрудников и позиций по отделам" />
</form>