<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header>
        <div class ="container">          
            <a href="/">
                <div class="logo"></div>
            </a>
            <a href="/user">
                <div class="employees">Сотрудники</div>
            </a>
            <a href="/department">
                <div class="employees">Департаменты</div>
            </a>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>Все права защищены,@DateTime.Now.Year</footer>
    </div>
</body>
</html>

