* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: #a9c0d1;
}

header {
    padding: 20px;
    text-align: right;
    background: #B1A296;
    color: #7395AE;
    font-size: 25px;
}

a {
    color: #557A95;
    text-decoration: none;
    float: left;
}

footer {
    text-align: right;
    padding: 20px;
    background: #B1A296;
    color: #7395AE;
    font-size: 15px;
    margin-top: auto;
}

main {
    padding: 30px;
    flex: 1 1 auto;
}

    main label {
        width: 70%;
        margin: 10px 0 0 20px;
        display: block;
        font-size: 14px;
        font-weight: bold;
        font-family: Magneto;
        color: #5D5C61;
    }

    main input:not([type = "submit"]) {
        width: 30%;
        padding: 10px 14px;
        font-size: 14px;
        border-radius: 5px;
        border: 1.5px solid #5D5C61;
        outline: none;
        margin: 7px 0 0 20px;
        white-space: normal;
    }

        main input:not([type = "submit"]):focus {
            border: 1px solid #d96614;
        }

    main input[type = "submit"] {
        white-space: normal;
        width: 20%;
        padding: 10px 0;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        border: 0;
        margin: 20px 0 0 20px;
        background: #d48750;
        font-weight: bold;
        color: #833904;
        cursor: pointer;
    }

        main input[type = "submit"]:hover {
            border: #d96614;
        }

    main input[type = "file"] {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: 15px;
        border: 0;
        margin-top: 40px;
        color: #d96614;
        font-weight: bold;
        font-family: Magneto;
    }

input[type = "radio"] {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border: 0;
    margin-top: 40px;
    color: #d96614;
    font-weight: bold;
    font-family: Magneto;
}

input:checked {
    border: 6px solid black;
}

input::file-selector-button {
    font-weight: bold;
    color: #557A95;
    padding: 0.5em;
    border: thin solid #557A95;
    border-radius: 5px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #B1A296;
    border: 1.5px solid #d96614;
}

select {
    width: 20%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    font-family: Magneto;
    color: #5D5C61;
    padding: 0.5em;
    border: thin solid #557A95;
    border-radius: 5px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 60px;
    width: 60px;
    background-image: url('../icon.png');
    background-size: 100%;
    margin-right: 1000px;
}

.container {
    min-height: auto;
    display: table-cell;
    vertical-align: middle;
}

.employees {
    font-weight: bold;
    font-family: Magneto;
    padding: 15px 20px 5px 20px;
    border-right: 3px solid #557A95;
}

.dropDown {
    outline: none;
    margin: 7px 0 0 20px;
    white-space: normal;
}

.result {
    margin: 10px 0 0 10px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-family: Magneto;
    color: #5D5C61;
}

.clear {
    clear: both;
}

.custom-radio [type="radio"]:checked, .custom-radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

    .custom-radio [type="radio"]:checked + .custom-radio__label, .custom-radio [type="radio"]:not(:checked) + .custom-radio__label {
        position: relative;
        padding: 6px 0 4px 38px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        margin-bottom: 4px;
    }

        .custom-radio [type="radio"]:checked + .custom-radio__label:before, .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }

        .custom-radio [type="radio"]:checked + .custom-radio__label:after, .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
            content: '';
            width: 14px;
            height: 14px;
            background: #d48750;
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 100%;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
        }

        .custom-radio [type="radio"]:not(:checked) + .custom-radio__label:after {
            opacity: 0;
            transform: scale(0);
        }

        .custom-radio [type="radio"]:checked + .custom-radio__label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }


table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

th {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

td {
    background: #AFCDE7;
    color: #557A95;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
}

td {
    background: #D8E6F3;
}

.calendar {
    border: 1px solid #d96614;
}

    .calendar .header {
        padding: 10px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: center;
        color: #557A95;
        font-weight: bold;
        font-size: 14px;
    }

    .calendar table {
        width: 100%;
    }

        .calendar table tr th, .calendar table tr td {
            font-weight: normal;
            text-align: center;
            vertical-align: top;
            padding: 10px;
            width: 14.25%;
        }

        .calendar table tr th {
            background: #B1A296;
        }

        .calendar table tr td {
            padding-top: 30px;
            height: 50px;
        }

            .calendar table tr td .weekend-or-holiday {
                color: #ff0000;
            }

            .calendar table tr td .today {
                color: #00cc00 !important;
            }

            .calendar table tr td .day .date {
                font-size: 20px;
            }

            .calendar table tr td .day .events {
            }

                .calendar table tr td .day .events .event {
                    color: #ff0000;
                    font-size: 10px;
                    margin-top: 5px;
                }

.calendarWeek {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background: #557A95;
}

.formbackground {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    overflow: auto;
}

.formEvent {
    position: relative;
    margin: auto;
    width: 700px;
    border-radius: 12px;
    background-color: #D8E6F3;
    box-shadow: 0 0 50px 0 rgba(119,116,116,0.5);
    transform: translateY(5%);
}

.formHeader {
    padding: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
    color: #557A95;
    font-weight: bold;
    font-size: 16px;
}

.formBody {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 19px;
}

    .formBody label {
        color: rgba(0,0,0,0.68);
        font-family: Verdana;
        font-size: 1em;
        line-height: 1.2em;
    }

    .formBody input {
        box-sizing: border-box;
        height: 28px !important;
        width: 100% !important;
        background-color: #FBFBFB;
        border: 1px solid rgba(163,163,163,0.5);
        border-radius: 3px !important;
        color: #444;
        font-family: Verdana;
        font-size: 1em;
        line-height: 1.2em;
        cursor: pointer;
    }

.formTextEvent {
    padding: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #557A95;
    font-weight: bold;
    font-size: 12px;
}

.formButton {
    padding-top: 25px;
    padding-bottom: 28px;
    text-align: center;
}

    .formButton input[type='submit'] {
        white-space: normal;
        width: 30% !important;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        margin: 20px 0 0 20px;
        background: #d48750;
        font-weight: bold;
        color: #833904;
        cursor: pointer;
    }
