* {
    margin: 0;
    padding: 0;
}

body {
    background: #a9c0d1;
}

main label {
    width: 70%;
    margin-top: 10px;
    display: block;
}

main input:not([type = "submit"]) {
    width: 30%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 1.5px solid #4243a1;
    outline: none;
    margin-top: 7px;
    white-space: normal;
}

    main input:not([type = "submit"]):focus {
        border: 1px solid #ff0000;
    }

main input[type = "submit"] {
    white-space: normal;
    width: 20%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    margin-top: 7px;
    background: #d48750;
    font-weight: bold;
    color: #833904;
    cursor: pointer;
}

    main input[type = "submit"]:hover {
        border: #d96614;
    }

main input[type = "file"] {
    width: 20%;
    padding: 10px 0;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    margin-top: 7px;
}

    main input[type = "file"]:hover {
        border: #d96614;
    }

header {
    padding: 20px;
    text-align: right;
    background: #B1A296;
    color: #7395AE;
    font-size: 25px;
}

a {
    color: #557A95;
    text-decoration: none;
    float: left;
}

footer {
    text-align: right;
    padding: 20px;
    background: #B1A296;
    color: #7395AE;
    font-size: 15px;
    margin-top: 750px;
    display: block;
}

.logo {
    height: 60px;
    width: 60px;
    background-image: url('../icon.png');
    background-size: 100%;
}

.container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

.employees {
    padding: 20px 0 0 50px;
}